Repository datalad/datalad, pull requests merged in 2023-08, with the labels that each got.

#7439 Eliminate uses of `pkg_resources`
  changelog.d/pr-7439.md
  datalad/cli/parser.py
  datalad/local/run_procedure.py
  datalad/support/external_versions.py
  setup.py
Labels: semver-internal

#7467 Disable some S3 tests of their VCR taping where they fail for known issues
  changelog.d/pr-7467.md
  datalad/downloaders/tests/test_s3.py
Labels: semver-tests

#7473 RF(TST): use straight "assert" so may be pytest would provide more context
  datalad/tests/test_archives.py
Labels: semver-tests

#7399 Honor the copy parameter _get_adjusted_env()
  changelog.d/pr-7399.md
  datalad/runner/runner.py
  datalad/runner/tests/test_witless_runner.py
Labels: semver-performance

#7472 Allow for reckless=ephemeral clone using relative path for the original location
  changelog.d/pr-7472.md
  datalad/core/distributed/clone_ephemeral.py
  datalad/core/distributed/tests/test_clone.py
Labels: merge-if-ok, cmd-clone, semver-patch, release
