Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

tuneup changelog
  changelog.d/pr-7379.md
Owners: @datalad/developers

ENH: add a debug msg while setting/changing specialremote of UnderAnnexUI
  datalad/ui/dialog.py
Owners: @datalad/developers

docs: add workaround for theme issues (search not working)
  docs/source/conf.py
Owners: @datalad/developers

Apply suggestions from code review
  docs/source/design/user_messaging.rst
Owners: @datalad/developers

Changelog snippet
  changelog.d/pr-7385.md
Owners: @datalad/developers

Clarify treatment of subdataset modifications by `run`
  datalad/core/local/run.py
Owners: @datalad/developers

[skip ci] Update CHANGELOG
  CHANGELOG.md
  changelog.d/pr-7341.md
  changelog.d/pr-7357.md
  changelog.d/pr-7379.md
  changelog.d/pr-7385.md
Owners: @datalad/developers

[skip ci] Update docs/source/changelog.rst
  docs/source/changelog.rst
Owners: @datalad/developers

ensure that timeout-enqueued data is handled
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

emit a timeout message in BatchedCommand
  datalad/cmd.py
Owners: christian.moench@web.de

add changelog entry
  changelog.d/pr-7390.md
Owners: @datalad/developers

fix a typing error
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

remove html-comment from changelog entry
  changelog.d/pr-7390.md
Owners: @datalad/developers

document ThreadedRunner.process_timeouts()
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

use a real newline in obscure file names
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

support newline in file names
  datalad/support/gitrepo.py
  datalad/support/tests/test_gitrepo.py
Owners: @datalad/developers

Add \n possibility into most obscure file name
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

work in reviewer suggestion
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Update datalad/tests/utils_pytest.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

fix tests
  datalad/core/local/tests/test_create.py
  datalad/core/local/tests/test_diff.py
  datalad/core/local/tests/test_status.py
  datalad/distributed/tests/test_drop.py
  datalad/distribution/tests/test_dataset.py
  datalad/tests/test_archives.py
Owners: @datalad/developers

do not use newline in test directory names
  datalad/support/tests/test_annexrepo.py
  datalad/support/tests/test_sshconnector.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Update datalad/tests/utils_pytest.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

fix test_runner_stdin test
  datalad/runner/tests/test_witless_runner.py
Owners: @datalad/developers

use zero terminator in git annex batch mode
  datalad/cmd.py
  datalad/runner/tests/test_witless_runner.py
  datalad/support/annexrepo.py
Owners: christian.moench@web.de, @datalad/developers

remove OBSCURE_DIRNAME
  datalad/core/local/tests/test_create.py
  datalad/core/local/tests/test_diff.py
  datalad/core/local/tests/test_status.py
  datalad/distributed/tests/test_drop.py
  datalad/distribution/tests/test_dataset.py
  datalad/tests/test_archives.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Revert "remove OBSCURE_DIRNAME"
  datalad/core/local/tests/test_create.py
  datalad/core/local/tests/test_diff.py
  datalad/core/local/tests/test_status.py
  datalad/distributed/tests/test_drop.py
  datalad/distribution/tests/test_dataset.py
  datalad/tests/test_archives.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Minor typo fix in docstring
  datalad/config.py
Owners: @datalad/developers

RF+OPT: parse config dump in one go, give option for explicit --with-origin mode
  datalad/config.py
  datalad/support/gitrepo.py
  datalad/tests/test_config.py
Owners: @datalad/developers

Minor typo fix in docstring
  datalad/config.py
Owners: @datalad/developers

BF(TST): Fix the test for the RF of ConfigManager to no longer care about warning
  datalad/tests/test_base.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7392
  changelog.d/pr-7392.md
Owners: @datalad/developers

honor the copy parameter _get_adjusted_env()
  datalad/runner/runner.py
Owners: christian.moench@web.de

BF: Run an actual git invocation with interactive commit config
  datalad/support/gitrepo.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7398
  changelog.d/pr-7398.md
Owners: @datalad/developers

add changelog entry
  changelog.d/pr-7399.md
Owners: @datalad/developers

add assert to ensure type in runner test
  datalad/runner/tests/test_witless_runner.py
Owners: @datalad/developers

WiP ENH: yield "impossible" result record instead of exception if remote is not known
  datalad/distribution/get.py
Owners: @datalad/developers

BF: we can pass Exception or CapturedException which is not subclass
  datalad/interface/results.py
Owners: @datalad/developers

Improve changelog entry to mention origin PR
  changelog.d/pr-7392.md
Owners: @datalad/developers

BF: make addurls tollerate the case that not all rows have all metadata fields
  datalad/local/addurls.py
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
