Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax

add type annotations to WitlessRunner
  datalad/runner/runner.py
Owners: christian.moench@web.de

test ThreadedRunner.run() reenter detection
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

guard access to ThreadedRunner.process attribute
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

fix and error in process exit checking
  datalad/cmd.py
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
Owners: christian.moench@web.de, @datalad/developers

add changelog
  changelog.d/pr-7201.md
Owners: @datalad/developers

Update changelog.d/pr-7201.md
  changelog.d/pr-7201.md
Owners: @datalad/developers

Update changelog.d/pr-7201.md
  changelog.d/pr-7201.md
Owners: @datalad/developers

Update datalad/runner/nonasyncrunner.py
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

use join_cmdline() instead of " ",join()
  datalad/runner/exception.py
Owners: christian.moench@web.de

add a comment
  datalad/cmd.py
Owners: christian.moench@web.de

add docstring for GenStdoutLines-protocol in tests
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

replace assert_raises with pytest.raises
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de

filter warning in cmd tests
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de

Remove superfluous test
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

DOC: Use standard key name 'error_message' in result record design docs
  docs/source/design/result_records.rst
Owners: @datalad/developers

DOC: extend/fix CONTRIBUTING.md with information on testing, changelog and releasing
  CONTRIBUTING.md
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7204
  changelog.d/pr-7204.md
Owners: @datalad/developers

Adjust changelog snippet
  changelog.d/pr-7204.md
Owners: @datalad/developers

Specify channel conda-forge for python 3.11
  .travis.yml
Owners: @datalad/developers

TST: Mark some tests as known fails on github CI windows
  datalad/core/distributed/tests/test_push.py
  datalad/distributed/tests/test_drop.py
Owners: @datalad/developers

distinguish URL path and path decoding
  datalad/support/network.py
  datalad/support/tests/test_network.py
Owners: @datalad/developers

ensure that RI.localpath() returns an OS-path
  datalad/support/network.py
  datalad/support/tests/test_network.py
Owners: @datalad/developers

add a test for correct RI.localpath on windows
  datalad/support/tests/test_network.py
Owners: @datalad/developers

remove unused imports
  datalad/support/tests/test_network.py
Owners: @datalad/developers

add a changelog entry for PR 7206
  changelog.d/pr-7206.md
Owners: @datalad/developers

remove unused debug info from production code
  datalad/support/network.py
Owners: @datalad/developers

BF(TST): condition comparison to deprecated inspect.getargspec on python version
  datalad/tests/test_utils.py
Owners: @datalad/developers

TEMP: echo exact invocation of tests in travis
  .travis.yml
Owners: @datalad/developers

TEMP: remove all other CIs
  .appveyor.yml
  .github/workflows/add-changelog-snippet.yml
  .github/workflows/benchmarks.yml
  .github/workflows/docbuild.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test-label.yml
  .github/workflows/test-nose.yml
  .github/workflows/test_crippled.yml
  .github/workflows/test_extensions.yml
  .github/workflows/test_macos.yml
  .github/workflows/test_win2019_disabled
  .github/workflows/typing.yml
  .github/workflows/update-contributors.yml
Owners: @datalad/developers

Skip changelog commits on appveyor
  .appveyor.yml
Owners: @datalad/developers

Ensure that datalad-url uses posix paths
  changelog.d/pr-7183.md
  datalad/core/distributed/clone.py
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

Let CLI report on exception causes
  changelog.d/pr-7210.md
  datalad/cli/main.py
  datalad/support/exceptions.py
  datalad/support/tests/test_captured_exception.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7208
  changelog.d/pr-7208.md
Owners: @datalad/developers

Do run (under set -x) but with --collect-only to see how many we discover
  .travis.yml
Owners: @datalad/developers

RF: get_modules_ - avoid O(N^2) if paths provided via use of get_parent_paths
  datalad/support/gitrepo.py
  datalad/support/path.py
  datalad/support/tests/test_gitrepo.py
  datalad/support/tests/test_path.py
Owners: @datalad/developers

Reorder commands in ORA get via SSH
  datalad/distributed/ora_remote.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7215
  changelog.d/pr-7215.md
Owners: @datalad/developers

Reword the changelog for PR 7215
  changelog.d/pr-7215.md
Owners: @datalad/developers

clean up file system conversion of url path
  datalad/customremotes/ria_utils.py
  datalad/customremotes/tests/test_ria_utils.py
  datalad/distributed/create_sibling_ria.py
  datalad/distributed/ora_remote.py
Owners: @datalad/developers

use internal utility functions to create file-URL
  datalad/distributed/ora_remote.py
  datalad/support/network.py
Owners: @datalad/developers
