Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax

RF,ENH(TST): future proof testing of git annex version upgrade + test annex init on all supported versions
  datalad/support/tests/test_annexrepo.py
Owners: @datalad/developers

ENH(TST): test against supported git annex repo version 10 + make it a full sweep over tests
  .travis.yml
Owners: @datalad/developers

BF(DOC): workaround for #10701 of sphinx in 5.1.0
  docs/source/conf.py
Owners: @datalad/developers

ENH: tox -e typing passing on some representative files
  tox.ini
Owners: @datalad/developers

BF: RF f-string uses in logger to %-interpolations
  datalad/cmd.py
  datalad/runner/runnerthreads.py
Owners: christian.moench@web.de

BF(TST,workaround): just xfail failing archives test on NFS
  datalad/tests/test_archives.py
Owners: @datalad/developers

ENH: upgrade versioneer from versioneer-0.20.dev0 to versioneer-0.23.dev0
  datalad/__init__.py
  datalad/_version.py
  versioneer.py
Owners: @datalad/developers

ENH: typing github action from dandi-cli to do tox -e typing checking
  .github/workflows/typing.yml
Owners: @datalad/developers

RF: remove splitting remotes by space since was never supported before
  datalad/core/distributed/push.py
Owners: @datalad/developers

BF: remove duplicate import of versioneer code
  datalad/__init__.py
Owners: @datalad/developers

DX: Demote loglevel of message on url parameters to debug
  datalad/support/network.py
Owners: @datalad/developers

TST: Adjust test to changed log level
  datalad/support/tests/test_network.py
Owners: @datalad/developers

RF: keep warning if really working with a URL, add "guessing" option to _pr_to_fields
  datalad/support/network.py
  datalad/support/tests/test_network.py
Owners: @datalad/developers

DX: Demote loglevel of message on url parameters to debug
  datalad/support/network.py
Owners: @datalad/developers

TST: Adjust test to changed log level
  datalad/support/tests/test_network.py
Owners: @datalad/developers

use pytest for metalad in test_extensions-workflow
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

simplify type of `proc_out` and `proc_err`
  datalad/runner/nonasyncrunner.py
  datalad/runner/protocol.py
Owners: christian.moench@web.de

fix type annotations in runner exceptions
  datalad/runner/exception.py
Owners: christian.moench@web.de

fix type annotations in `runnerthreads.py`
  datalad/runner/runnerthreads.py
Owners: christian.moench@web.de

fix type annotations in datalad.runner.utils
  datalad/runner/utils.py
Owners: christian.moench@web.de

log the protocol used in WitlessRunner.run
  datalad/runner/runner.py
Owners: christian.moench@web.de

fix type annotations in `nonasyncrunner.py`
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

install nose only in test step that needs it
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

move nose installation into separate step
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

add missing return type to function
  datalad/runner/exception.py
Owners: christian.moench@web.de

ENH(TST): include entire datalad/runner into tox.ini for type checks
  tox.ini
Owners: @datalad/developers

BF: add pytest into deps for typing since needed
  tox.ini
Owners: @datalad/developers

Switch default access protocol for GH siblings from https to https-ssh
  datalad/distributed/create_sibling_github.py
Owners: @datalad/developers

use new annotation style in runner tests
  datalad/runner/tests/test_exception.py
  datalad/runner/tests/test_nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
  datalad/runner/tests/test_utils.py
Owners: @datalad/developers

fix type annotation errors in runner-tests
  datalad/runner/tests/test_threadsafety.py
  datalad/runner/tests/test_utils.py
Owners: @datalad/developers

modernize type annotations in runner code
  datalad/runner/exception.py
  datalad/runner/nonasyncrunner.py
  datalad/runner/protocol.py
  datalad/runner/runnerthreads.py
  datalad/runner/utils.py
Owners: christian.moench@web.de

reformatting
  datalad/runner/nonasyncrunner.py
  datalad/runner/utils.py
Owners: christian.moench@web.de

use `type[...]` instead of `Type[...]`
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
Owners: christian.moench@web.de, @datalad/developers

move test dependencies to setup.py
  setup.py
  tox.ini
Owners: @datalad/developers

ENH(TST): Disable coverage reporting on travis
  .travis.yml
Owners: @datalad/developers

BK: Initial set of type annotation fixes for cmd.py and some in runner.py
  datalad/cmd.py
  datalad/runner/runner.py
  tox.ini
Owners: christian.moench@web.de, @datalad/developers

BF: do not pretend we know what repo version git-annex would upgrade to
  datalad/support/annexrepo.py
  datalad/support/tests/test_annexrepo.py
Owners: @datalad/developers

DOC: move maintenance team info from issue to CONTRIBUTING
  CONTRIBUTING.md
Owners: @datalad/developers

Enhance RIA docs
  datalad/distributed/create_sibling_ria.py
Owners: @datalad/developers

DOC: refine definition of dataset version identifier
  datalad/distributed/create_sibling_ria.py
Owners: @datalad/developers
