Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

remove debug print, use test's member check
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

use assert_raises from datalad test utils
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

remove unnecessary assignment
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

add initial reentrance protection
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
Owners: christian.moench@web.de, @datalad/developers

refactor thread safety tests
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

DOC: Finalize adjustment of the docstring for _call_git to be factually correct
  datalad/dataset/gitrepo.py
Owners: @datalad/developers

prevent result rendering in recursive search-call
  datalad/metadata/search.py
Owners: @datalad/developers

BF(workaround): skip test_ria_postclonecfg on OSX for now
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @datalad/developers

[skip ci] Update RST changelog
  docs/source/changelog.rst
Owners: @datalad/developers

adapt tests to modified GitRepo.call_git-semantic
  datalad/tests/test_config.py
Owners: @datalad/developers

add support for ng metadata usage in search
  datalad/metadata/metadata.py
Owners: @datalad/developers

reformat search.py
  datalad/metadata/search.py
Owners: @datalad/developers

add --use-metadata switch to search
  datalad/metadata/metadata.py
  datalad/metadata/search.py
Owners: @datalad/developers

use legacy- and ng-metadata results
  datalad/metadata/metadata.py
Owners: @datalad/developers

use gen4 prefix for metadata query-method
  datalad/metadata/metadata.py
Owners: @datalad/developers

use "legacy" and "gen4" to identify metadata generations
  datalad/metadata/metadata.py
  datalad/metadata/search.py
Owners: @datalad/developers

do not skip file-URL tests on windows
  datalad/support/tests/test_network.py
Owners: @datalad/developers

handle non-existing gen4-metadata gracefully
  datalad/metadata/metadata.py
Owners: @datalad/developers

fix indentation
  datalad/metadata/metadata.py
Owners: @datalad/developers

add a test for 'gen4_query_aggregated_metadata'
  datalad/metadata/tests/test_search.py
Owners: @datalad/developers

add kwargs to result dict in gen4 query aggregated
  datalad/metadata/metadata.py
Owners: @datalad/developers

improve test coverage
  datalad/metadata/tests/test_search.py
Owners: @datalad/developers

handle non-existing metadata identical
  datalad/metadata/metadata.py
Owners: @datalad/developers

improve test coverage
  datalad/metadata/tests/test_search.py
Owners: @datalad/developers

WiP: dump of a provider config/auth to support downloads from brainlife
  datalad/downloaders/__init__.py
  datalad/downloaders/configs/brainlife.cfg
  datalad/downloaders/credentials.py
  datalad/support/third/loris_token_generator.py
Owners: @datalad/developers

add a test for call_git_items_ results
  datalad/dataset/tests/test_gitrepo.py
Owners: @datalad/developers

keep line endings intact as long as possible
  datalad/dataset/gitrepo.py
  datalad/dataset/tests/test_gitrepo.py
  datalad/runner/tests/test_utils.py
  datalad/runner/utils.py
Owners: @datalad/developers, christian.moench@web.de

implement call_git with call_git_items_
  datalad/dataset/gitrepo.py
Owners: @datalad/developers

refactor runner.utils tests
  datalad/runner/tests/test_utils.py
Owners: @datalad/developers

add issue 6737 and issue 6753 to changelog
  CHANGELOG.md
Owners: @datalad/developers

limit chardet version to <5.0.0
  setup.py
Owners: @datalad/developers

limit chardet version to <5.0.0
  setup.py
Owners: @datalad/developers

limit chardet version to <5.0.0
  setup.py
Owners: @datalad/developers

rename '--use-metadata' to '--metadata-source'
  datalad/metadata/metadata.py
  datalad/metadata/search.py
Owners: @datalad/developers

Upload coverage from extension tests
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

remove code that was commented out
  datalad/metadata/tests/test_search.py
Owners: @datalad/developers

rename 'use_metadata'-params to 'metadata_source'
  datalad/metadata/search.py
Owners: @datalad/developers

add test for metadata_source handling
  datalad/metadata/tests/test_search.py
Owners: @datalad/developers

remove all travis tests, but one
  .travis.yml
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
