Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

DOC: adjust description of relpath value to match reality better
  datalad/local/foreach_dataset.py
Owners: @yarikoptic

Add changelog snippet
  changelog.d/pr-7071.md
Owners: @datalad/developers

Remove remaining references to nose
  datalad/__init__.py
  datalad/conftest.py
  datalad/support/annexrepo.py
  docs/source/design/python_imports.rst
  docs/source/modref.rst
  setup.py
Owners: @datalad/developers

Adjust extension tests
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

Add changelog snippet
  changelog.d/pr-7136.md
Owners: @datalad/developers

More informative AltConstraint error
  changelog.d/pr-7132.md
  datalad/support/constraints.py
Owners: @datalad/developers

Add Contributors subsubsection to get contributors- id to link to from the badge
  README.md
Owners: @datalad/developers

BF: Don't treat too many requests as auth issue
  changelog.d/pr-7142.md
  datalad/downloaders/base.py
  datalad/downloaders/http.py
  datalad/support/exceptions.py
Owners: @datalad/developers

Update datalad/downloaders/base.py
  datalad/downloaders/base.py
Owners: @datalad/developers

Add the issue to be closed
  changelog.d/pr-7142.md
Owners: @datalad/developers

[skip ci] Update CHANGELOG
  CHANGELOG.md
  changelog.d/pr-7111.md
  changelog.d/pr-7112.md
  changelog.d/pr-7117.md
  changelog.d/pr-7118.md
  changelog.d/pr-7119.md
  changelog.d/pr-7123.md
  changelog.d/pr-7125.md
  changelog.d/pr-7126.md
  changelog.d/pr-7130.md
  changelog.d/pr-7136.md
  changelog.d/pr-7142.md
Owners: @datalad/developers

[skip ci] Update docs/source/changelog.rst
  docs/source/changelog.rst
Owners: @datalad/developers

BF: read config from stdin instead of temporary file
  datalad/core/distributed/clone.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7147
  changelog.d/pr-7147.md
Owners: @datalad/developers

Revert "[skip ci] Update docs/source/changelog.rst"
  docs/source/changelog.rst
Owners: @datalad/developers

Revert "[skip ci] Update CHANGELOG"
  CHANGELOG.md
  changelog.d/pr-7111.md
  changelog.d/pr-7112.md
  changelog.d/pr-7117.md
  changelog.d/pr-7118.md
  changelog.d/pr-7119.md
  changelog.d/pr-7123.md
  changelog.d/pr-7125.md
  changelog.d/pr-7126.md
  changelog.d/pr-7130.md
  changelog.d/pr-7136.md
  changelog.d/pr-7142.md
Owners: @datalad/developers

[skip ci] Update CHANGELOG
  CHANGELOG.md
  changelog.d/pr-7111.md
  changelog.d/pr-7112.md
  changelog.d/pr-7117.md
  changelog.d/pr-7118.md
  changelog.d/pr-7119.md
  changelog.d/pr-7123.md
  changelog.d/pr-7125.md
  changelog.d/pr-7126.md
  changelog.d/pr-7130.md
  changelog.d/pr-7136.md
  changelog.d/pr-7142.md
Owners: @datalad/developers

[skip ci] Update docs/source/changelog.rst
  docs/source/changelog.rst
Owners: @datalad/developers

TST: Reenable 2 now-passing core tests on windows CI
  datalad/core/distributed/tests/test_push.py
Owners: @datalad/developers

Fix for type checking
  datalad/cmd.py
Owners: christian.moench@web.de

Fix ls import in benchmarks
  benchmarks/common.py
  changelog.d/pr-7154.md
Owners: @datalad/developers

BF(TST): for older versions allow either replaced or not -
  datalad/customremotes/tests/test_datalad.py
Owners: @datalad/developers

Fix runner pretending to take strings as stdin
  changelog.d/pr-7155.md
  datalad/runner/nonasyncrunner.py
  datalad/runner/runner.py
Owners: @datalad/developers, christian.moench@web.de

Fix test failure with old annex
  changelog.d/pr-7159.md
  datalad/distributed/ora_remote.py
  datalad/distributed/tests/test_ria_basics.py
Owners: @datalad/developers

RF: Specify parameter choices uniformly
  changelog.d/pr-7161.md
  datalad/local/clean.py
Owners: @datalad/developers

Add a testcase for 7032
  datalad/core/local/tests/test_status.py
Owners: @datalad/developers

BF: Prevent doomed annex call on untracked files
  datalad/core/local/status.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7166
  changelog.d/pr-7166.md
Owners: @datalad/developers

DOC: don't escape dashes in the docs
  _datalad_build_support/formatters.py
Owners: @datalad/developers

TST: attempt a test for unescaped slashes in the docs
  .github/workflows/docbuild.yml
Owners: @datalad/developers

MNT: Move interface.utils.eval_results to interface(.base)
  datalad/interface/base.py
  datalad/interface/utils.py
Owners: @datalad/developers

MNT: Replace most usages of OrderedDict with dict
  datalad/core/distributed/push.py
  datalad/core/local/diff.py
  datalad/customremotes/archives.py
  datalad/downloaders/credentials.py
  datalad/downloaders/providers.py
  datalad/interface/base.py
  datalad/local/wtf.py
  datalad/support/annexrepo.py
  datalad/support/gitrepo.py
  datalad/support/network.py
  datalad/support/strings.py
  datalad/support/tests/test_network.py
  datalad/tests/test_utils.py
  datalad/utils.py
Owners: @datalad/developers

exclude @PaxHeader headers
  datalad/support/archive_utils_7z.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7170
  changelog.d/pr-7170.md
Owners: @datalad/developers

Update changelog.d/pr-7170.md
  changelog.d/pr-7170.md
Owners: @datalad/developers

Replace OrderedDict specific function with pure dict equivalent
  datalad/core/local/status.py
Owners: @datalad/developers

Update changelog.d/pr-7166.md
  changelog.d/pr-7166.md
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7174
  changelog.d/pr-7174.md
Owners: @datalad/developers

MNT: Rip out with_testrepos
  datalad/tests/utils.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

MNT: Remove unused with_testrepos imports from dl commands
  datalad/distribution/tests/test_siblings.py
  datalad/distribution/tests/test_update.py
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
