Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax

Remove configurations for old tqdm versions
  datalad/ui/progressbars.py
Owners: @datalad/developers

TST: add on_appveyor indicator and announce test_sibling_enable_sameas xfailing on appveyor
  datalad/distribution/tests/test_siblings.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

ENH(TST): introduce on_nfs indicator for tests
  datalad/support/tests/test_annexrepo.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

TST: declare test_decompress_file (regardless of strip or not) xfailing
  datalad/tests/test_archives.py
Owners: @datalad/developers

TST: skip_if stalling test on travis
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

Switch protocol for call_annex_records_item_
  changelog.d/pr-7329.md
  datalad/support/annexrepo.py
Owners: @datalad/developers

Fix pytest_util with_tempfile example
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7331
  changelog.d/pr-7331.md
Owners: @datalad/developers

Extend type-annotations for `datalad/support/path.py`
  datalad/support/path.py
Owners: @datalad/developers

Type-annotate WitlessProtocol
  datalad/cmd.py
  datalad/runner/protocol.py
  datalad/runner/tests/test_generatormixin.py
  datalad/runner/tests/test_nonasyncrunner.py
Owners: christian.moench@web.de, @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7336
  changelog.d/pr-7336.md
Owners: @datalad/developers

More annotations
  datalad/runner/coreprotocols.py
  datalad/runner/exception.py
  datalad/runner/protocol.py
  datalad/runner/utils.py
Owners: christian.moench@web.de

[release-action] Autogenerate changelog snippet for PR 7337
  changelog.d/pr-7337.md
Owners: @datalad/developers

Annotate runner tests
  datalad/runner/nonasyncrunner.py
  datalad/runner/runnerthreads.py
  datalad/runner/tests/test_exception.py
  datalad/runner/tests/test_generatormixin.py
  datalad/runner/tests/test_gitrunner.py
  datalad/runner/tests/test_nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
  datalad/runner/tests/test_utils.py
  datalad/runner/tests/test_witless_runner.py
  datalad/runner/tests/utils.py
Owners: christian.moench@web.de, @datalad/developers

BF: GitRepo.merge do not allow merging unrelated unconditionally
  datalad/support/gitrepo.py
Owners: @datalad/developers

TST: add test which ensures that .update(how="merge") would error out
  datalad/distribution/tests/test_update.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7312
  changelog.d/pr-7312.md
Owners: @datalad/developers

Fix datalad special remote error reporting
  changelog.d/pr-7333.md
  datalad/customremotes/datalad.py
Owners: @datalad/developers

Automated deployment to update contributors 2023-03-17
  .all-contributorsrc
  .tributors
  .zenodo.json
  README.md
Owners: @datalad/developers

Type-annotate some more files in `datalad/support/`
  datalad/support/annex_utils.py
  datalad/support/ansi_colors.py
  datalad/support/cookies.py
  datalad/support/digests.py
  tox.ini
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7339
  changelog.d/pr-7339.md
Owners: @datalad/developers

Amend test for 7013 with additional subds to ensure it works on more than one level
  datalad/distributed/tests/test_drop.py
Owners: @datalad/developers

Add Stephan to author list
  .zenodo.json
Owners: @datalad/developers

Update docs/source/design/user_messaging.rst
  docs/source/design/user_messaging.rst
Owners: @datalad/developers

Update docs/source/design/user_messaging.rst
  docs/source/design/user_messaging.rst
Owners: @datalad/developers

Update docs/source/design/user_messaging.rst
  docs/source/design/user_messaging.rst
Owners: @datalad/developers

Refine type of `content` argument to `SignalingThread.signal()`
  datalad/runner/runnerthreads.py
Owners: christian.moench@web.de

Tune up changelog entry to mention that we can now select full sections or subsections
  changelog.d/pr-7309.md
Owners: @datalad/developers

WTF: Return back metadata_extractors and metadata_indexers
  datalad/local/wtf.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7309
  changelog.d/pr-7309.md
Owners: @datalad/developers

RF: do not include "load_error" if there were no error
  datalad/local/wtf.py
Owners: @datalad/developers

BF: return back original behavior of "impossible" result on unknown section
  datalad/local/wtf.py
Owners: @datalad/developers

ENH+RF: add metadata.filters and replace "_" with "." to be more inline with delimeters in the name space
  datalad/local/wtf.py
Owners: @datalad/developers

ENH: 2 changes - take only leading sentence into doc, allow to list entire sections
  datalad/local/wtf.py
Owners: @datalad/developers

ENH: load extension and extract (if present) doc, generation, version
  datalad/local/wtf.py
Owners: @datalad/developers

Do use/pass repocls into get_convoluted_situation
  datalad/support/tests/test_repo_save.py
Owners: @datalad/developers

Fix test for incompatible annex and rsync versions
  datalad/distribution/tests/test_siblings.py
  datalad/support/external_versions.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Ensure that GitRepo initiated repo remains without git-annex upon Dataset.create
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

TST(BK): extend test to demonstrate https://github.com/datalad/datalad/issues/7351
  datalad/support/tests/test_repo_save.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7342
  changelog.d/pr-7342.md
Owners: @datalad/developers
