Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax

rf: simplify -- annex handling is specific having staged, and we do not need partial unless requested
  datalad/support/gitrepo.py
Owners: @datalad/developers

BF: save_: keep the partial commit when something was staged beforehand
  datalad/support/gitrepo.py
Owners: @datalad/developers

TST: rerun --explicit: a refused input ends the range replay
  datalad/local/tests/test_rerun.py
Owners: @datalad/developers

NF: add-archive-content - accept multiple archives in a single invocation
  changelog.d/pr-add-archive-content-multiple.md
  datalad/local/add_archive_content.py
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

BF(TST): assert only race-free properties in test_concurrent_generator_reading
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

NF(TST): report dependency versions in the pytest session header
  datalad/pytest_plugin.py
  datalad/tests/test_pytest_plugin.py
Owners: @datalad/developers

TST+BF: skip gitea/store.datalad.org tests on outage, via the existing helper
  datalad/core/distributed/tests/test_clone.py
  datalad/distributed/tests/test_create_sibling_gitea.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

BF(TST): assert the versions header on a real session, not on --markers
  datalad/tests/test_pytest_plugin.py
Owners: @datalad/developers

NF: run --merge to record how a branch is derived from another
  changelog.d/pr-7915.md
  datalad/core/local/run.py
  datalad/core/local/tests/test_run.py
  datalad/local/rerun.py
  datalad/local/tests/test_rerun.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

DOC: match the changelog snippet to the actual PR number
  changelog.d/pr-7916.md
Owners: @datalad/developers

DOC: fix PR link in the changelog snippet
  changelog.d/pr-7916.md
Owners: @datalad/developers

BF+RF: add-archive-content - address review findings on multi-archive support
  changelog.d/20260905_143000_yarikoptic_nf_add_archive_content_multiple.md
  changelog.d/pr-add-archive-content-multiple.md
  datalad/local/add_archive_content.py
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

NF: push: add -u/--set-upstream to mimic `git push -u` (Closes #7917)
  datalad/core/distributed/push.py
  datalad/core/distributed/tests/test_push.py
Owners: @datalad/developers

RF: push: keep --set-upstream out of _push()'s call signature
  datalad/core/distributed/push.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7918
  changelog.d/pr-7918.md
Owners: @datalad/developers

NF: push: add -u/--set-upstream option to configure branch tracking
  datalad/core/distributed/push.py
  datalad/core/distributed/tests/test_push.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

DOC: add scriv changelog fragment for PR #7919
  changelog.d/pr-7919.md
Owners: @datalad/developers

DOC: fix changelog fragment category to match scriv.ini's category list
  changelog.d/pr-7919.md
Owners: @datalad/developers

BF: push: keep -u/--set-upstream from breaking extensions patching _push()
  datalad/core/distributed/push.py
Owners: @datalad/developers

BF+RF: add-archive-content - address review findings on multi-archive support
  changelog.d/20260905_143000_yarikoptic_nf_add_archive_content_multiple.md
  changelog.d/pr-add-archive-content-multiple.md
  datalad/local/add_archive_content.py
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

NF: add-archive-content - accept multiple archives in a single invocation
  changelog.d/pr-add-archive-content-multiple.md
  datalad/local/add_archive_content.py
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

BF(TST): rerun: actually forward --on-cmd-failure to the replayed run
  datalad/core/local/run.py
  datalad/core/local/tests/test_run.py
  datalad/local/rerun.py
  datalad/local/tests/test_rerun.py
Owners: @datalad/developers

BF: save: fix NotADirectoryError when registering a subdataset from a git worktree
  datalad/core/local/tests/test_save.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

RF(TST): stop broadening skip_if_url_is_not_available's exception handling
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

BF(TST): guarantee generation order in test_concurrent_generator_reading
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

Automated deployment to update contributors 2026-09-08
  .all-contributorsrc
  .tributors
  README.md
Owners: @datalad/developers

RF+TST: fold the MERGE_HEAD probe into GitRepo.get_merge_head()
  datalad/core/local/run.py
  datalad/core/local/save.py
  datalad/core/local/tests/test_run.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

BF: reuse dot_git and fix another blunt '.git' concatenation for worktrees
  datalad/local/copy_file.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

NF: push: add -u/--set-upstream option to configure branch tracking
  changelog.d/pr-7917.md
  datalad/core/distributed/push.py
  datalad/core/distributed/tests/test_push.py
Owners: @datalad/developers

RF: add-archive-content - lean up the multi-archive implementation
  datalad/local/add_archive_content.py
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

TST: mark new add-archive-content multi-archive tests as ai_generated
  datalad/local/tests/test_add_archive_content.py
Owners: @datalad/developers

NF: add -u/--set-upstream option to push, mimicking 'git push -u'
  datalad/core/distributed/push.py
  datalad/core/distributed/tests/test_push.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

CI: add Windows GitHub Actions test workflow (AppVeyor parity)
  .github/workflows/test_windows.yml
  tools/ci/win_ssh_setup.ps1
Owners: @datalad/developers

BF: runner - do not fail a command over undecodable output
  datalad/runner/protocol.py
  datalad/runner/tests/test_witless_runner.py
Owners: christian.moench@web.de, @datalad/developers

DOC: add changelog snippet for the runner decode fix
  changelog.d/pr-7924.md
Owners: @datalad/developers

RF(TST): let skip_if_no_network take the URL a test depends on
  datalad/core/distributed/tests/test_clone.py
  datalad/distributed/tests/test_create_sibling_gitea.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

BF: reraise the original error when a non-interactive UI cannot prompt
  datalad/downloaders/base.py
Owners: @datalad/developers

BF: runner - do not fail a command over undecodable output
  datalad/runner/protocol.py
Owners: christian.moench@web.de

DOC: design document and changelog for the --explicit contract of run
  changelog.d/pr-XXXX.md
  docs/designs/run-explicit/01-inputs-outputs-nesting-concurrency.md
Owners: @datalad/developers

BF: run/rerun --explicit: refuse execution with modified declared inputs
  datalad/core/local/run.py
  datalad/core/local/tests/test_run.py
  datalad/local/rerun.py
  datalad/local/tests/test_rerun.py
Owners: @datalad/developers
