Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

TST: Add a testcase demonstrating #7180
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

BF: Ensure Posix git urls for paths on Windows
  datalad/support/gitrepo.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7181
  changelog.d/pr-7181.md
Owners: @datalad/developers

TST: adjust two tests for posix remote url
  datalad/core/distributed/tests/test_clone.py
  datalad/tests/test_utils_cached_dataset.py
Owners: @datalad/developers

Address review: don't obfuscate function name
  datalad/interface/utils.py
Owners: @datalad/developers

remove empty line
  datalad/interface/utils.py
Owners: @datalad/developers

More test fixups
  datalad/tests/test_utils_cached_dataset.py
Owners: @datalad/developers

BF: Fix invalid absolute submodule paths when cloning relative paths
  datalad/core/distributed/tests/test_clone.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

MNT: Fix internal add_archive_content call
  datalad/distributed/export_to_figshare.py
Owners: @datalad/developers

Ensure to-be-exported archive is represented as a string
  datalad/distributed/export_to_figshare.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7188
  changelog.d/pr-7188.md
Owners: @datalad/developers

TST: Reenable now passing diff test on Windows
  datalad/core/local/tests/test_diff.py
Owners: @datalad/developers

TMP/TST: check if ria test works under windows - blocking issue has been resolved a while ago
  .appveyor.yml
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

TST: Reenable now passing diff test on Windows
  datalad/core/local/tests/test_diff.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7194
  changelog.d/pr-7194.md
Owners: @datalad/developers

Assortment of minor fixes on top of #6942:
  datalad/support/gitrepo.py
  datalad/tests/test_config.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7189
  changelog.d/pr-7189.md
Owners: @datalad/developers

DOC: Move pytest migration docs from CONTRIBUING into docs
  CONTRIBUTING.md
  docs/source/design/index.rst
  docs/source/design/testing.rst
Owners: @datalad/developers

use constant instead of hard coded remote name
  datalad/core/distributed/tests/test_clone.py
Owners: @datalad/developers

Make Design doc more generally on tests; Add more content and structure
  docs/source/design/testing.rst
Owners: @datalad/developers

Remove content from Contributing included in the design doc
  CONTRIBUTING.md
Owners: @datalad/developers

Update changelog.d/pr-7189.md
  changelog.d/pr-7189.md
Owners: @datalad/developers

Recommend 'python -m pytest' instead of 'pytest'
  CONTRIBUTING.md
  docs/source/design/testing.rst
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7195
  changelog.d/pr-7195.md
Owners: @datalad/developers

MNT: Remove test_testrepos testsuite
  datalad/conftest.py
  datalad/tests/test_testrepos.py
  datalad/tests/test_tests_utils.py
  datalad/tests/test_tests_utils_pytest.py
  datalad/tests/utils.py
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Remove unused make_studyforrest_mockup function
  datalad/tests/utils_testdatasets.py
Owners: @datalad/developers

CLN: clean up imports, remove unused ones
  datalad/tests/utils_pytest.py
Owners: @datalad/developers

Add Bens review comments
  docs/source/design/testing.rst
Owners: @datalad/developers

Switch to test against 3.11 instead of 3.10 as the latest python to test against (travis)
  .travis.yml
Owners: @datalad/developers

[TEMP] detect and report "lost" processes
  datalad/cmd.py
Owners: christian.moench@web.de

do not store runner in WitlessRunner & clean up
  datalad/runner/runner.py
  datalad/runner/tests/test_witless_runner.py
Owners: christian.moench@web.de, @datalad/developers

move datalad.cfg from _get_abandon to global scope
  datalad/cmd.py
  datalad/runner/exception.py
  datalad/runner/nonasyncrunner.py
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de

add thread-based ThreadedRunner tests
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

fix tests on windows
  datalad/runner/tests/test_witless_runner.py
Owners: @datalad/developers

synchronize generator-runner execution
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_nonasyncrunner.py
Owners: christian.moench@web.de, @datalad/developers

record runner-owning thread
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

add concurrency tests for ThreadedRunner
  datalad/runner/tests/test_nonasyncrunner.py
Owners: @datalad/developers

fix possible None dereferences
  datalad/cmd.py
Owners: christian.moench@web.de

simplify result-generator code
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

[TEMP] add locks to generator send
  datalad/runner/exception.py
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_nonasyncrunner.py
Owners: christian.moench@web.de, @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
