Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

send one character to stdin in protocol test
  datalad/runner/tests/test_witless_runner.py
  datalad/support/tests/test_annexrepo.py
Owners: @datalad/developers

RF: call_from_parser - move code into "else" to simplify reading etc
  datalad/cli/exec.py
Owners: @datalad/developers

TST: test_stalling -- wait x10 not just x5 time
  datalad/support/tests/test_parallel.py
Owners: @datalad/developers

BF(TST): mark test_nested_pushclone_cycle_allplatforms as slow since runs over 30sec with -n2
  datalad/core/distributed/tests/test_push.py
Owners: @datalad/developers

BF: provide /dev/null as --git-dir instead of no value
  datalad/config.py
  datalad/tests/test_config.py
Owners: @datalad/developers

BF: if early attempt to parse resulted in error, setup subparsers
  datalad/cli/parser.py
  datalad/cli/tests/test_main.py
Owners: @datalad/developers

Run only on repos in datalad org
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

Update tools/ci/mkchlog-snippet.py
  tools/ci/mkchlog-snippet.py
Owners: @datalad/developers

ENH: add pytest-xdist into "devel-utils" so we could use on CI etc
  setup.py
Owners: @datalad/developers

Update tools/ci/mkchlog-snippet.py
  tools/ci/mkchlog-snippet.py
Owners: @datalad/developers

ENH: travis - run up to 2 tests in parallel
  .travis.yml
Owners: @datalad/developers

Adjustments
  .github/workflows/add-changelog-snippet.yml
  tools/ci/mkchlog-snippet.py
Owners: @datalad/developers

BF(Windows): use b:\con on windows for non-existing path
  datalad/config.py
Owners: @datalad/developers

BF: make logic more consistent for files=[] argument (which is False but not None)
  datalad/dataset/gitrepo.py
  datalad/support/annexrepo.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

Do not skip CI for autogen changelog.d snippet
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

Use scriv for CHANGELOG generation in release workflow
  .github/workflows/release.yml
  changelog.d/scriv.ini
  changelog.d/templates/entry_title.md.j2
  changelog.d/templates/new_fragment.md.j2
  tools/ci/mkchlog-snippet.py
Owners: @datalad/developers

RF: SOURCE_DATE_EPOCH -> datalad.source.epoch config
  .github/workflows/docbuild.yml
  _datalad_build_support/formatters.py
  changelog.d/pr-6997.md
  datalad/interface/common_cfg.py
Owners: @datalad/developers

[skip ci] Autogenerate changelog.d snippet for pull request
  changelog.d/pr-6997.md
Owners: @datalad/developers

Make the build reproducible (on Debian) via SOURCE_DATE_EPOCH for dates in manpages
  _datalad_build_support/formatters.py
Owners: @datalad/developers

ENH: add -next to be tested among extensions
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @datalad/developers

[skip ci] Autogenerate changelog.d snippet for pull request
  changelog.d/pr-7009.md
Owners: @datalad/developers

Create empty tox.ini if extension (such as -next) has none
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

BK: Initial set of type annotation fixes for cmd.py and some in runner.py
  datalad/cmd.py
  datalad/runner/runner.py
  tox.ini
Owners: christian.moench@web.de, @datalad/developers

Move auto exec hooks to release workflow
  .autorc
  .github/workflows/release.yml
Owners: @datalad/developers

[skip ci] Update RST changelog
  docs/source/changelog.rst
Owners: @datalad/developers

fix return type in doc string
  datalad/runner/runner.py
Owners: christian.moench@web.de

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @datalad/developers

BF: backquote path/drive in Changelog
  CHANGELOG.md
  docs/source/changelog.rst
Owners: @datalad/developers

DOC: add a comment why it is ok to have "if paths" and not "is not None"
  datalad/support/annexrepo.py
Owners: @datalad/developers

fix type annotations in multiple files
  datalad/cmd.py
  datalad/runner/nonasyncrunner.py
  datalad/runner/runner.py
Owners: christian.moench@web.de

BF: blacklist 23.9.0 of keyring as introduces regressoin
  setup.py
Owners: @datalad/developers

adapt tests to modified command group names
  datalad/cli/tests/test_main.py
Owners: @datalad/developers

Autogenerate changelog.d snippet for pull request (adjusted manually)
  changelog.d/pr-7028.md
Owners: @datalad/developers

No neurodebian -devel in crippledfs and extensions
  .github/workflows/test_crippled.yml
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

[skip ci] Update RST changelog
  docs/source/changelog.rst
Owners: @datalad/developers

BF: --help to not have empty *Global options* and options: sections
  datalad/cli/helpers.py
  datalad/cli/tests/test_main.py
Owners: @datalad/developers

adapt tests to modified command group names
  datalad/cli/tests/test_main.py
Owners: @datalad/developers

Automated deployment to update contributors 2022-09-16
  .all-contributorsrc
  .tributors
  README.md
Owners: @datalad/developers

Swap order of steps in add-changelog-snippet workflow
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
