Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

ENH: Enable progress bars for unlock, fixes #6691
  datalad/local/unlock.py
Owners: @datalad/developers

Add annex.private to ephemeral clones
  datalad/core/distributed/clone.py
  datalad/core/distributed/tests/test_clone.py
  datalad/interface/common_opts.py
Owners: @datalad/developers

MNT: Factor out helper function used in core and next from ria functionality
  datalad/distributed/create_sibling_ria.py
  datalad/distribution/utils.py
Owners: @datalad/developers

BF(TST): do full clone to ensure having most recent tag
  .travis.yml
Owners: @datalad/developers

Ensure that assertion helpers in utils_pytest.py get rewritten by pytest
  tox.ini
Owners: @datalad/developers

BF: Catch KeyErrors from unavailable WTF infos
  datalad/local/wtf.py
Owners: @datalad/developers

DOC: Set language in Sphinx config to en
  docs/source/conf.py
Owners: @datalad/developers

MNT: Remove unused helper for listing sorted files
  datalad/utils.py
Owners: @datalad/developers

Deprecate old ansi_colors API and discontinue use
  datalad/core/distributed/push.py
  datalad/core/local/run.py
  datalad/core/local/status.py
  datalad/distribution/siblings.py
  datalad/interface/utils.py
  datalad/local/check_dates.py
  datalad/local/clean.py
  datalad/local/configuration.py
  datalad/local/run_procedure.py
  datalad/log.py
  datalad/metadata/metadata.py
  datalad/support/ansi_colors.py
  datalad/support/parallel.py
  datalad/support/tests/test_ansi_colors.py
  datalad/ui/utils.py
Owners: @datalad/developers

Implement ANSI formatting helper _class_
  datalad/support/ansi_colors.py
  datalad/support/tests/test_ansi_colors.py
Owners: @datalad/developers

Lazy `datalad.ui.ui` instantiation
  datalad/ui/__init__.py
Owners: @datalad/developers

TST: Add minimal testcase for #6712
  datalad/local/tests/test_wtf.py
Owners: @datalad/developers

BF(TST): RO operations - add test directory into git safe.directory
  datalad/support/tests/test_annexrepo.py
Owners: @datalad/developers

DOC: Set language in Sphinx config to en
  docs/source/conf.py
Owners: @datalad/developers

DOC: fixup of docstring for skip_ssh
  datalad/tests/utils.py
Owners: @datalad/developers

BF: fix 'parsing' of ssh version to work for OpenSSH_for_Windows_8.1p1
  datalad/support/external_versions.py
  datalad/support/tests/test_external_versions.py
Owners: @datalad/developers

ENH: do report both system (default) ssh and configured ssh versions
  datalad/support/external_versions.py
Owners: @datalad/developers

RF: just make 'configured' into the simple cmd:ssh
  datalad/support/external_versions.py
Owners: @datalad/developers

Design document on progress reporting
  docs/source/design/index.rst
  docs/source/design/progress_reporting.rst
Owners: @datalad/developers

More selective `unlock` progress reporting in noninteractive cases
  datalad/local/unlock.py
Owners: @datalad/developers

Homogenize formatting
  datalad/local/unlock.py
Owners: @datalad/developers

MNT: Remove eval_file_type from code base
  datalad/core/distributed/push.py
  datalad/core/local/diff.py
  datalad/distribution/create_sibling.py
  datalad/local/copy_file.py
  datalad/support/gitrepo.py
Owners: @datalad/developers

add initial reentrance protection
  datalad/runner/nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
Owners: christian.moench@web.de, @datalad/developers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @datalad/developers

[skip ci] Update RST changelog
  docs/source/changelog.rst
Owners: @datalad/developers

improve tests
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

DOC: replace zenodo DOI link in README with the one against the latest datalad
  README.md
Owners: @datalad/developers

ENH: Improve add-archive-contents progressbar following #6735 & #6734
  datalad/local/add_archive_content.py
Owners: @datalad/developers

fix thread re-entry detection test
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

centralize runner lock handling
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

use assert_raises from datalad test utils
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

Incorporate suggestions from @yarikoptic
  docs/source/design/progress_reporting.rst
Owners: @datalad/developers

remove debug print, use test's member check
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

cut down most tests exception runner
  .appveyor.yml
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

small change to trigger PR
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

remove more tests
  .appveyor.yml
Owners: @datalad/developers

fix thread test
  datalad/runner/tests/test_threadsafety.py
Owners: @datalad/developers

WIP/ENH: Give siblings the ability to set annex ignore
  datalad/distribution/siblings.py
  datalad/interface/common_opts.py
  datalad/support/annexrepo.py
Owners: @datalad/developers

Minimal test-case for setting annex ignore via siblings
  datalad/distribution/tests/test_siblings.py
Owners: @datalad/developers

Also mention the decorator approach to result reporting
  docs/source/design/progress_reporting.rst
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
