Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

add a context manager for activity counting
  datalad/cmd.py
Owners: christian.moench@web.de

synchronise BatchedCommand cleanup
  datalad/cmd.py
Owners: christian.moench@web.de

move BatchedCommand._active_last setting
  datalad/cmd.py
Owners: christian.moench@web.de

split up global BatchedCommand.cleanup lock
  datalad/cmd.py
Owners: christian.moench@web.de

remove unused lock
  datalad/cmd.py
Owners: christian.moench@web.de

use a list in locking context manager
  datalad/cmd.py
Owners: christian.moench@web.de

BF: Fix invalid version comparison
  changelog.d/pr-7249.md
  datalad/support/annexrepo.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7252
  changelog.d/pr-7252.md
Owners: @datalad/developers

fix a bug
  datalad/cmd.py
Owners: christian.moench@web.de

update changelog entry
  changelog.d/pr-7252.md
Owners: @datalad/developers

Let create inherit annex.private from superdataset
  datalad/core/local/create.py
Owners: @datalad/developers

Allow create to set datalad.clone.reckless private
  datalad/core/local/create.py
Owners: @datalad/developers

Add tests for private mode in clone & create
  datalad/core/distributed/tests/test_clone.py
  datalad/core/local/tests/test_create.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7247
  changelog.d/pr-7247.md
Owners: @datalad/developers

Add a changelog description for private mode
  changelog.d/pr-7247.md
Owners: @datalad/developers

PERF: Buffer size optimization from datalad-next
  changelog.d/pr-7250.md
  datalad/runner/runnerthreads.py
  datalad/utils.py
Owners: @datalad/developers, christian.moench@web.de

Displaying status of package distribution
  README.md
Owners: @datalad/developers

[skip ci] Update CHANGELOG
  CHANGELOG.md
  changelog.d/pr-7245.md
  changelog.d/pr-7249.md
  changelog.d/pr-7250.md
Owners: @datalad/developers

[skip ci] Update docs/source/changelog.rst
  docs/source/changelog.rst
Owners: @datalad/developers

BF(TST): use older python 3.8 in testing nose utils
  .github/workflows/test-nose.yml
Owners: @datalad/developers

RM: remove nose compatibility utils, their tests and CI
  .github/workflows/test-nose.yml
  datalad/tests/test_tests_utils.py
  datalad/tests/utils.py
Owners: @datalad/developers

No extensions should use "nose" - remove possibility of being tested by nose
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

Remove elderly/disabled GH actions based testing using nose on windows
  .github/workflows/test_win2019_disabled
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7261
  changelog.d/pr-7261.md
Owners: @datalad/developers

PATCH: bundle looseversion instead of relying on proper packaged one
  datalad/distribution/create_sibling.py
  datalad/support/external_versions.py
  datalad/support/looseversion.py
  setup.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7260
  changelog.d/pr-7260.md
Owners: @datalad/developers

Reword CHANGELOG slightly
  changelog.d/pr-7260.md
Owners: @datalad/developers

New upstream version 0.18.1
  CHANGELOG.md
  PKG-INFO
  datalad.egg-info/PKG-INFO
  datalad/_version.py
  datalad/runner/runnerthreads.py
  datalad/support/annexrepo.py
  datalad/support/constraints.py
  datalad/utils.py
  docs/source/changelog.rst
Owners: @datalad/developers, christian.moench@web.de

pristine-tar data for datalad_0.18.1.orig.tar.gz
  datalad_0.18.1.orig.tar.gz.delta
  datalad_0.18.1.orig.tar.gz.id
Owners: @datalad/developers

refresh utf8 patch, adjust version
  debian/changelog
  debian/patches/deb_no_utf8
Owners: @datalad/developers

added deb-looseversion.patch to bundle a little backport of looseversion from 1.0.3 of https://github.com/effigies/looseversion
  debian/changelog
  debian/patches/deb-looseversion.patch
  debian/patches/series
Owners: @datalad/developers

More badges and typo fix
  README.md
Owners: @datalad/developers

Revert "Revert "Remove chardet version upper limit""
  setup.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7263
  changelog.d/pr-7263.md
Owners: @datalad/developers

added deb_no_chardet_depends to remove upper version boundary for chardet since in debian we have 5.1 already
  debian/changelog
  debian/patches/deb_no_chardet_depends
  debian/patches/series
Owners: @datalad/developers

reorder patches so chardet does not interfer with others
  debian/patches/deb_no_chardet_depends
  debian/patches/series
Owners: @datalad/developers

Fix `create-sibling` for non-English remotes
  datalad/distribution/create_sibling.py
Owners: @datalad/developers

Update .zenodo.json
  .zenodo.json
Owners: @datalad/developers

BF: Set language when parsing output
  datalad/distribution/create_sibling.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7265
  changelog.d/pr-7265.md
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
