Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax

Use GITMATE_GITHUB_TOKEN
  .github/workflows/add-changelog-snippet.yml
  .github/workflows/release.yml
Owners: @datalad/developers

Autogenerate changelog.d snippet for pull request
  changelog.d/pr-7001.md
Owners: @datalad/developers

ENH(TEMP): set git core.quotePath to false in tests fixture
  datalad/conftest.py
Owners: @datalad/developers

BF: use default GITHUB_TOKEN for release workflow instead of a GITMATE_ one
  .github/workflows/release.yml
Owners: @datalad/developers

RM: remove scriv changelog snippet which was not used
  changelog.d/pr-6997.md
Owners: @datalad/developers

Give more information about used token and performed actions
  tools/ci/release-comment.py
Owners: @datalad/developers

Revert "BF: use default GITHUB_TOKEN for release workflow instead of a GITMATE_ one"
  .github/workflows/release.yml
Owners: @datalad/developers

BF: assue nothing is transfered if no bytesize
  datalad/core/distributed/push.py
Owners: @datalad/developers

Autogenerate changelog.d snippet for pull request
  changelog.d/pr-7049.md
Owners: @datalad/developers

Trigger release workflow on `pull_request_target`
  .github/workflows/release.yml
Owners: @datalad/developers

[skip ci] Update CHANGELOG
  CHANGELOG.md
  changelog.d/pr-7009.md
  changelog.d/pr-7011.md
  changelog.d/pr-7024.md
  changelog.d/pr-7028.md
  changelog.d/pr-7036.md
  changelog.d/pr-7037.md
  changelog.d/pr-7039.md
  changelog.d/pr-7041.md
  changelog.d/pr-7049.md
  docs/source/changelog.rst
Owners: @datalad/developers

New upstream version 0.17.6
  CHANGELOG.md
  PKG-INFO
  datalad.egg-info/PKG-INFO
  datalad.egg-info/SOURCES.txt
  datalad.egg-info/requires.txt
  datalad/_version.py
  datalad/cli/helpers.py
  datalad/cli/tests/test_main.py
  datalad/cmd.py
  datalad/core/distributed/push.py
  datalad/core/local/create.py
  datalad/core/local/status.py
  datalad/interface/results.py
  datalad/runner/nonasyncrunner.py
  datalad/runner/runner.py
  datalad/support/tests/test_parallel.py
  docs/source/changelog.rst
  setup.py
  tools/ci/mkchlog-snippet.py
  tools/ci/release-comment.py
  tox.ini
Owners: @datalad/developers, christian.moench@web.de

pristine-tar data for datalad_0.17.6.orig.tar.gz
  datalad_0.17.6.orig.tar.gz.delta
  datalad_0.17.6.orig.tar.gz.id
Owners: @datalad/developers

refreshed patch + added changelog
  debian/changelog
  debian/patches/revert_platformdirs
Owners: @datalad/developers

d/control -- add minimal version for the alternative of importlib-metadata to be 3.6, needed since 0.16.2~6^2.
  debian/changelog
  debian/control
Owners: @datalad/developers

platformdirs is not an option, we do use appdirs now in debian pkg
  debian/control
Owners: @datalad/developers

d/control - fixed version depend for importlib-metadata, wrongly specified to be 0.16.2
  debian/changelog
  debian/control
Owners: @datalad/developers

d/patches/bullseye-dsc-patch - remove since we now just use appdirs
  debian/changelog
  debian/patches/bullseye-dsc-patch
Owners: @datalad/developers

Revert "Remove chardet version upper limit"
  setup.py
Owners: @datalad/developers

use GITMATE token for actual push of changelog
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

Autogenerate changelog.d snippet for pull request
  changelog.d/pr-7058.md
Owners: @datalad/developers

Autogenerate + tune changelog.d snippet for pull request
  changelog.d/pr-7057.md
Owners: @datalad/developers

Add a Gooey specific issue template
  .github/ISSUE_TEMPLATE/issue_template_gooey.yml
Owners: @datalad/developers

BF(DOC): fix changelog and exclude HTML id tags from .md before pandoc
  CHANGELOG.md
  Makefile
  docs/source/changelog.rst
Owners: @datalad/developers

ENH: DATALAD_TESTS_GITCONFIG to provide custom settings for git during tests
  .travis.yml
  CONTRIBUTING.md
  datalad/conftest.py
Owners: @datalad/developers

- add python3-typing-extensions explicitly into build-depends
  debian/changelog
  debian/control
Owners: @datalad/developers

BF?: move env with custom token into "checkout" step of action
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

BF: not env var but token parameter
  .github/workflows/add-changelog-snippet.yml
Owners: @datalad/developers

Make pytest to be the default tester for extensions (left only hirni with nose)
  .github/workflows/test_extensions.yml
Owners: @datalad/developers

debian/patches/deb_disable_pytest_warn - to help backporting on buster
  debian/changelog
  debian/patches/deb_disable_pytest_warn
  debian/patches/series
Owners: @datalad/developers

also do not require importlib-metadata within setup.py
  debian/patches/deb_loosenup_setup_requires
Owners: @datalad/developers

d/control - fix python-appdirs to python3-appdirs.
  debian/changelog
  debian/control
Owners: @datalad/developers

Automated deployment to update contributors 2022-09-28
  README.md
Owners: @datalad/developers

BF: tools/eval_under_testloopfs - no need for eval which can only cause unneeded eval etc
  tools/eval_under_testloopfs
Owners: @datalad/developers

we will rerelease it into debian proper since problem is there too, uff
  debian/changelog
Owners: @datalad/developers

ENH: fix typo and add _datalad_build_utils to codespell checks
  _datalad_build_support/formatters.py
  tox.ini
Owners: @datalad/developers

BF: disable testing for exit code for batched process. Proper solution is WiP
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de

raise exception if batch-process fails
  datalad/cmd.py
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de

Let `EnsureChoice` report the value is failed validating
  datalad/support/constraints.py
Owners: @datalad/developers

convert CommandError to BatchedCommandError in BatchedCommand
  datalad/cmd.py
  datalad/tests/test_cmd.py
Owners: christian.moench@web.de
