Repository datalad/datalad, changes with the owners that CODEOWNERS names for each.
All owners: @datalad/developers, christian.moench@web.de, @yarikoptic

[release-action] Autogenerate changelog snippet for PR 7489
  changelog.d/pr-7489.md
Owners: @datalad/developers

RF: remove travis CI setup + badge from README.md
  .travis.yml
  README.md
Owners: @datalad/developers

add RRID to package metadata
  setup.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7495
  changelog.d/pr-7495.md
Owners: @datalad/developers

convert GeneratorMixIn into a true mixin class
  datalad/runner/protocol.py
Owners: christian.moench@web.de

adapt genrator mixin tests, adapt to windows
  datalad/runner/tests/test_generatormixin.py
  datalad/runner/tests/test_nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
  datalad/runner/tests/test_witless_runner.py
Owners: @datalad/developers

change DecodingAssemblerMixIn to a real mixin class
  datalad/cmd.py
  datalad/dataset/gitrepo.py
  datalad/runner/utils.py
  datalad/support/annexrepo.py
Owners: christian.moench@web.de, @datalad/developers

add a missing type declaration
  datalad/runner/protocol.py
Owners: christian.moench@web.de

improve threaded-runner document
  docs/source/design/threaded_runner.rst
Owners: @datalad/developers

include modules in documentation rendering
  datalad/runner/nonasyncrunner.py
  docs/source/modref.rst
Owners: christian.moench@web.de, @datalad/developers

fix documentation syntax
  datalad/runner/nonasyncrunner.py
Owners: christian.moench@web.de

[release-action] Autogenerate changelog snippet for PR 7500
  changelog.d/pr-7500.md
Owners: @datalad/developers

edit changelog entry
  changelog.d/pr-7500.md
Owners: @datalad/developers

BF: fix time_diff* and time_remove benchmarks to account for long RFed revision arg etc
  benchmarks/api.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7502
  changelog.d/pr-7502.md
Owners: @datalad/developers

Update docs/source/design/threaded_runner.rst
  docs/source/design/threaded_runner.rst
Owners: @datalad/developers

use one line per paragraph
  docs/source/design/threaded_runner.rst
Owners: @datalad/developers

Add --show-stderr to asv run so we know what has happened to lead to failed
  tools/ci/benchmark-travis-pr.sh
Owners: @datalad/developers

Simply disable time_remove for now
  benchmarks/api.py
Owners: @datalad/developers

convert GeneratorMixIn to a real mix in class
  datalad/cmd.py
  datalad/dataset/gitrepo.py
  datalad/runner/protocol.py
  datalad/runner/tests/test_generatormixin.py
  datalad/runner/tests/test_gitrunner.py
  datalad/runner/tests/test_nonasyncrunner.py
  datalad/runner/tests/test_threadsafety.py
  datalad/runner/utils.py
  datalad/support/annexrepo.py
Owners: christian.moench@web.de, @datalad/developers

dont call AssemblingDecoderMixIn.__init__()
  datalad/support/annexrepo.py
Owners: @datalad/developers

fix spelling errors
  datalad/runner/protocol.py
Owners: christian.moench@web.de

improve GeneratorMixIn'd docstring
  datalad/runner/protocol.py
Owners: christian.moench@web.de

[release-action] Autogenerate changelog snippet for PR 7346
  changelog.d/pr-7346.md
Owners: @datalad/developers

improve changelog entry
  changelog.d/pr-7346.md
Owners: @datalad/developers

Inform asv that there should be no warmup runs for time_remove benchmark
  benchmarks/api.py
Owners: @datalad/developers

Enhance `run()` placeholder substitutions to honor configuration defaults
  datalad/core/local/run.py
  datalad/core/local/tests/test_run.py
  datalad/interface/common_cfg.py
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7505
  changelog.d/pr-7505.md
Owners: @datalad/developers

Automated deployment to update contributors 2023-10-13
  .all-contributorsrc
  .tributors
  README.md
Owners: @datalad/developers

Automated deployment to update contributors 2023-10-13
  .all-contributorsrc
  .tributors
  README.md
Owners: @datalad/developers

Copy script to install singularity from datalad-container and use it in the workflow
  .github/workflows/test_extensions.yml
  tools/ci/install-singularity.sh
Owners: @datalad/developers

RF: do not just check if datalad.runtime.librarymode variable is defined, takes its bool
  datalad/cli/main.py
  datalad/log.py
Owners: @datalad/developers

Remove custom datalad log handlers while enable library mode
  datalad/__init__.py
  datalad/log.py
Owners: @datalad/developers

Robustify update target detection for adjusted mode datasets
  changelog.d/20231025_194118_michael.hanke_bf_7507.md
  datalad/distribution/update.py
Owners: @datalad/developers

Add a missing space into example code_cmd
  datalad/distribution/update.py
Owners: @datalad/developers

Generic issue -> Report a Bug template
  .github/ISSUE_TEMPLATE/issue_template.yml
Owners: @datalad/developers

For consistency, say "Report a Gooey Issue" in imperative
  .github/ISSUE_TEMPLATE/issue_template_gooey.yml
Owners: @datalad/developers

Codespell also hidden folders (start with .)
  .codespellrc
Owners: @datalad/developers

[DATALAD RUNCMD] run codespell throughout fixing typo automagically
  .appveyor.yml
  .travis.yml
  datalad/core/distributed/tests/test_clone.py
  datalad/core/local/create.py
  datalad/core/local/run.py
  datalad/distributed/ora_remote.py
  datalad/distribution/siblings.py
  datalad/interface/utils.py
  datalad/local/configuration.py
  datalad/support/entrypoints.py
  datalad/support/gitrepo.py
  datalad/support/parallel.py
  datalad/tests/test_constraints.py
  docs/source/design/progress_reporting.rst
  docs/source/design/threaded_runner.rst
  docs/source/publications.rst
Owners: @datalad/developers

[release-action] Autogenerate changelog snippet for PR 7530
  changelog.d/pr-7530.md
Owners: @datalad/developers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*       @datalad/developers

# The Runner
*cmd.py             christian.moench@web.de
/datalad/runner/*   christian.moench@web.de

*foreach_dataset.py @yarikoptic

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax
